h4 {
    color: #767676;
}

.small-img-size {
    width: 350px;
    height: auto;
    border: 4px solid #64B5F6;
}

li{
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 8px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.bg_div{
    background: #64B5F6;
}

.bg_central_div{
    background: #BBDEFB;
}